.item-card {
  width: 350px;
  border: none !important;
  border-radius: 20px !important;
  background-color: #baf7e8 !important;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12) !important;
  overflow: hidden;
}

.item-body {
  padding: 25px;
  text-align: center;
}

.item-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.item-label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.item-text {
  font-size: 18px;
  margin-bottom: 20px;
}

.item-date {
  font-size: 18px;
  margin-bottom: 25px;
}

.item-btn {
  background-color: #d8c6ff !important;
  border: none !important;
  color: black !important;
}

.item-btn:hover {
  opacity: 0.9;
}