.main-container {
  min-height: 100vh;
  background: #f8f9fa;
  padding: 30px;
}

.navbar {
  margin-bottom: 30px;
}

.form-section {
  margin-bottom: 30px;
}

.cards-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.goal-card {
  width: 350px;
  border-radius: 20px;
  padding: 25px;
  background: #baf7e8;
  box-shadow: 0 8px 18px rgba(0,0,0,0.12);
  text-align: center;
}

.add-btn {
  background: #d8c6ff;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  font-weight: bold;
  margin-top: 15px;
}

.delete-btn {
  background: #d8c6ff;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
}